h1
{
    text-align:center;
    color: orangered;
}
body
{
    background-color:black;
}
h2
{
    color:skyblue;
}
h3
{
    color:aliceblue;
}
a
{
    color:orangered;
    text-decoration:none;
}
footer
{
    text-align:center;
    color:white;
    opacity:0.5;
}
#drink
{
    color:orangered;
}
#food
{
    color:orangered;
}
#nametext
{
    font-size: 4vh;
    border:none;
    outline:none;
    height:1cm;
    background-color:black;
    width:35cm;
    color:skyblue;
}